//
// Testimonials
//

.testimonial {
  background-image: linear-gradient(-110deg, $blue-dark 0%, $blue 100%);
  blockquote {
  quotes: "\201C""\201D""\2018""\2019";

}
blockquote:before {
  color: rgba($white, .5);
  font-family: Georgia;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

 
blockquote p {
  display: inline;
  color: $white;
}
}