/*
 * Typography
 *
 *
 */



$font-family:			'Open Sans', sans-serif;
$mono-font-family:      Menlo, Monaco, Consolas, "Courier New", monospace;


$base-font-family:		$font-family;
$base-font-size:		16px;
$base-font-style:		normal;
$base-font-weight:		400;
$base-line-height:		1.5;


// Font Weights
$bold-font-weight:		600;
$mid-font-weight:		600;
$normal-font-weight:	400;
$light-font-weight:		300;

// Headings
$headingsFontFamily:    $font-family;
$headingsFontWeight:    100;
$headingsColor:         $gray-darkest;

// Navigation
$primaryNavFontFamily:  $font-family;
$primaryNavFontWeight:  300;
$primaryNavFontStyle:   normal;