//
// Variables
//

// Container
$site-width:			1440px;

// Mobile Nav
$mobileNavWidth:		600;
$desktop:				$mobileNavWidth;

// Font Sizes
$marquee-header:		48px;


// Alignment

$margin:				20px;

// Forms
$inputBackground:		$white;
$inputBorder:			#ccc;
$inputBorderRadius:		3px;

// Border radius
$border-radius:			3px;




